# The dropbox college directory
alias college='cd ~/Dropbox/college'
alias classes='cd ~/Dropbox/college/classes'

# For shell dictionary
alias define=dict

function dict() {
	sdcv $1 | less
}

function swap() {
	local TMPFILE=tmp.$$
	mv "$1" $TMPFILE
	mv "$2" "$1"
	mv $TMPFILE "$2"
}

viewer() {
	open -a preview "$1"
}
alias view=viewer

latex() {
	pdflatex -interaction=batchmode "$1"
}
alias qpdflatex=latex

alias jp='jump'
alias vi='vim'

# Imported from my .bashrc
export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad

if [ "$USER" = "halin2" ] ; then
    alias ls='ls --color=auto'
fi
