[user]
	name = hlin117
	email = hlin117@gmail.com
[core]
	excludesfile = /Users/hlin117/.gitignore_global
	editor = vim
[push]
	default = simple
[alias]
	root = rev-parse --show-toplevel
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
