# http://www.sirver.net/blog/2012/01/08/second-episode-of-ultisnips-screencast/
snippet < "A simple html tab" b
<${1:div}>
	Hello world
</${1/(\w+).*/$1/}>
endsnippet

snippet TODO "This is a TODO reminder" b
<!-- TODO `echo $USER` ${1:SOMETHING} `!v strftime("%c")` -->
endsnippet
